version: '3.8'
services:
  postgres:
    image: 'postgres:13.2-alpine'
    restart: on-failure
    environment:
      POSTGRES_DB: adminer
      POSTGRES_USER: adminer
      POSTGRES_PASSWORD: test1802
    ports:
      - '54321:5432'
  php:
    build:
      context: ./php/
      target: app_php
    image: 'sf-docker/php:dev'
    restart: on-failure
    environment:
      APP_ENV: dev
      APP_DEBUG: 1
      PHP_DATE_TIMEZONE: '${PHP_DATE_TIMEZONE:-UTC}'
    depends_on:
      - postgres
    volumes:
      - './php/project:/app:rw,cached'
  nginx:
    build:
      context: ./nginx/
      target: app_nginx
    image: 'sf-docker/nginx:dev'
    restart: on-failure
    depends_on:
      - php
    ports:
      - '8098:80'
  web:
    image: 'node:15.12.0-alpine3.10'
    working_dir: /app
    volumes:
    - './web:/app'
    command: npm run start

