<div>
  <span class="help is-info"  *ngIf="isLoading">Loading...</span>
  <app-customer-form (customerAdded)="appendCustomer($event)"></app-customer-form>
  <table class="table" *ngIf="!isLoading">
    <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone number</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers">
      <td>
        <span *ngIf="!customer.editable">{{ customer.id }}</span>
        <input class="input" [(ngModel)]="customer.id" *ngIf="customer.editable">
      </td>
      <td>
        <span *ngIf="!customer.editable">{{ customer.firstName }}</span>
        <input class="input" [(ngModel)]="customer.firstName" *ngIf="customer.editable">
      </td>
      <td>
        <span *ngIf="!customer.editable">{{ customer.lastName }}</span>
        <input class="input" [(ngModel)]="customer.lastName" *ngIf="customer.editable">
      </td>
      <td>
        <span *ngIf="!customer.editable">{{ customer.email }}</span>
        <input class="input" [(ngModel)]="customer.email" *ngIf="customer.editable">
      </td>
      <td>
        <span *ngIf="!customer.editable">{{ customer.phoneNumber }}</span>
        <input class="input" [(ngModel)]="customer.phoneNumber" *ngIf="customer.editable">
      </td>
      <td><button class="button is-primary" (click)="editCustomer(customer)">Edit</button></td>
      <td><button class="button is-danger" (click)="deleteCustomer(customer)">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>

