<div>{{ errors }}</div>
<form *ngIf="!errors"
  [formGroup]="myForm"
  novalidate
>
  <div class="form-group">
    <label>First Name</label>
    <input
      class="form-control"
      name="firstName"
      formControlName="userFirstName"
      placeholder="Enter First Name"
    />

    <div
      class="alert alert-danger"
      *ngIf="
            myForm.controls['userFirstName'].invalid &&
            myForm.controls['userFirstName'].touched
          "
    >
      Incorrect first name
    </div>
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input
      class="form-control"
      name="lastName"
      formControlName="userLastName"
      placeholder="Enter Last Name"
    />

    <div
      class="alert alert-danger"
      *ngIf="
            myForm.controls['userLastName'].invalid &&
            myForm.controls['userLastName'].touched
          "
    >
      Incorrect last name
    </div>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input
      class="form-control"
      name="email"
      formControlName="userEmail"
      placeholder="Enter Email"
    />

    <div
      class="alert alert-danger"
      *ngIf="
            myForm.controls['userEmail'].invalid &&
            myForm.controls['userEmail'].touched
          "
    >
      Incorrect email
    </div>
  </div>
  <div class="form-group">
    <label>Phone number</label>
    <input
      class="form-control form"
      name="phone"
      formControlName="userPhone"
      placeholder="Enter Phone Number"
    />

    <div
      class="alert alert-danger"
      *ngIf="
            myForm.controls['userPhone'].invalid &&
            myForm.controls['userPhone'].touched
          "
    >
      Incorrect Phone Number, number must contain 8 digits
    </div>
  </div>
  <div class="form-group">
    <button *ngIf="isCreate"
            class="btn btn-primary"
            [disabled]="myForm.invalid"
            (click)="addCustomer(myForm.value.userFirstName,myForm.value.userLastName, myForm.value.userEmail, myForm.value.userPhone)"
    >
      Add
    </button>

    <button *ngIf="isUpdate"
            class="btn btn-primary"
            [disabled]="myForm.invalid"
            (click)="editCustomer(myForm.value.userFirstName,myForm.value.userLastName, myForm.value.userEmail, myForm.value.userPhone)"
    >
      Update
    </button>
  </div>
</form>
